@import './common';

@media (max-width: 768px) {
  .section_about {
    background-color: $color-background-about;
  }

  .about {
    padding-top: 125px;

    &__right-side {
      margin-left: 30px;
      margin-right: 30px;
    }

    &__description-first {
      font-family: $font-sans;
      color: $black;
      font-style: normal;
      font-weight: $medium;
      font-size: $font-size12;
      line-height: 1.583;
      text-align: left;
      margin-bottom: 47px;
    }

    &__description-secondary {
      color: $light-rose;
      font-family: $font-sans;
      font-style: normal;
      font-weight: $medium;
      font-size: $font-size12;
      line-height: 1.583;
      text-align: left;
      margin-bottom: 47px;
    }
  }

  .paragraph {
    color: $color-second;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: $light;
    font-size: $font-size18;
    line-height: 1.167;
    text-align: center;
    letter-spacing: $letter04;
  }

  .secondary-header {
    text-transform: uppercase;
    font-style: normal;
    font-weight: $light;
    font-size: $font-h2;
    line-height: 1.147;
    text-align: center;
    letter-spacing: $letter04;
    text-transform: uppercase;
  }

  .modal-btn {
    width: 176px;
    height: 44px;
    background: $color-text;
    border-radius: 22px;
    border: 0;
    display: block;

    color: $color-main;
    font-family: $font-sans;
    font-style: normal;
    font-weight: $bold;
    font-size: $font-size14;
    line-height: 1.286;
    align-items: center;
    text-align: center;
  }
}
