<section class="section section_contacts">
  <div class="container container_contacts">
    <h2 class="contacts__header"></h2>
    <div class="contacts">
      <p class="contacts__paragraf">CAFE</p>
      <ul class="contacts__list">
        <li class="contacts__address">
          <p class="contacts__address-paragraf">Chicago</p>
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </li>
        <li class="contacts__open-time">
          <p class="contacts__open-time-paragraf">Monday - Friday</p>
          06:00 AM - 10:00 PM
        </li>
        <li class="contacts__open-time">
          <p class="contacts__open-time-paragraf">Saturday - Sunday</p>
          08:00 AM - 16:00 PM
        </li>
        <li class="contacts__mail">
          +61(0) 383 766 284 noreply@envato.com
        </li>
      </ul>
    </div>


  </div>
</section>