<section class="section section_customer">
  <div class="container container_customer">
    <div class="customer">
        <h2 class="customer__header">customer</h2>
        <div class="customer-opinion">
        <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
        Lorem ipsum primis in nibh vel risus.</p>
      
        <p>Emily, Los Angeles</p>
        <!-- <div class="link-opt">
          <ul class="web-select">
            <li>
              <a class="web-select-svg-item" href="#">
                <svg wide="12.4" height="11.84">
                  <use
                    href="../images/symbol-defs.svg#icon-home-1home"
                    wide="12.4"
                    height="11.84"
                  ></use> 
                </svg>
              </a>
            </li>
            <li>
              <a class="web-select-svg-item" href="#">
                <svg wide="12" height="12">
                  <use
                    href="../images/symbol-defs.svg#icon-ping1"
                    wide="12"
                    height="12"
                  ></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="web-select-svg-item" href="#">
                <svg wide="12" height="12">
                  <use
                    href="../images/symbol-defs.svg#icon-ping2"
                    wide="12"
                    height="12"
                  ></use>
                </svg>
              </a>
            </li>
          </ul> 
        </div> -->
    </div>
  </div>
</section>