<section class="section-products" id="products">
  <div class="container-products">
    <h3 class="products-description">100% NATURAL</h3>
    <h2 class="products-title">PRODUCTS</h2>
    <ul class="product-list">
      <li class="product-list__space">
        <img class="product-list__photo"
             src="images/products/ice-cream-photo/ice-cream.png"/>
        <div class="product-list__item product-list__item--ice-cream-color">
          <span class="product-list__title">ICE CREAM</span>
          <div class="dots">
            <svg width="26px" height="6px">
              <use href="images/icons.svg#icon-dots"></use>
            </svg>
          </div>
          <p class="product-list__information">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et</p>
          <img class="product-list__icon" src="images/products/elements/arrow-right.png" width="40px" height="40px">
        </div>
      </li>
            <li class="product-list__space">
              <img class="product-list__photo" src="images/products/ice-cream-photo/ice-coffee.png"/>
              <div class="product-list__item product-list__item--ice-coffee-color">
              <span class="product-list__title">ICE COFFEE</span>
              <div class="dots">
                <svg width="26px" height="6px">
                  <use href="images/icons.svg#icon-dots"></use>
                </svg>
              </div>
              <p class="product-list__information">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et</p>
              <img class="product-list__icon" src="images/products/elements/arrow-right.png" width="40px" height="40px">
              </div>
            </li>
            <li class="product-list__space">
              <img class="product-list__photo" src="images/products/ice-cream-photo/milkshake.png"/>
              <div class="product-list__item product-list__item--milkshakes-color">
              <span class="product-list__title">MILKSHAKES</span>
              <div class="dots">
                <svg width="26px" height="6px">
                  <use href="images/icons.svg#icon-dots"></use>
                </svg>
              </div>
              <p class="product-list__information">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et</p>
              <img class="product-list__icon" src="images/products/elements/arrow-right.png" width="40px" height="40px">
              </div>
            </li>
    </ul>
  </div>
</section>